@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:wght@100&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header, footer{
    padding: 3vh 2vw;
    text-align: center;
    font-family: 'Orelega One', Times, serif;
    background: rgb(27, 128, 223);
    color: white;
}

h1{
    text-transform: uppercase;
    letter-spacing: .05em;
}

main{
    width: 65%;
    margin: 10vh auto 50vh auto;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bolder;
}

form{
    text-align: center;
}

input[type="text"]{
    padding: .5em;
    border-radius: .3em;
    border: 1px solid #ccc;
}

input[type="submit"]{
    padding: .5em;
    background-color: rgb(27, 128, 223);
    color: white;
    border: 1px solid rgb(27, 128, 223);
    border-radius: .3em;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
}

#info{
    text-align: center;
    color: rgb(173, 45, 2);
}

#recap, #task{
    margin: 2vh 1vw;
}

ul{
    width: 80%;
    margin: auto;
    list-style-type: none;
}

li{
    background-color: rgba(238, 238, 238, 0.548);
    padding: 1em;
    margin: 0.5vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]#done + label{
    padding: .5em;
    border: 1px solid rgb(27, 128, 223);
    border-radius: .3em;
    transition: all 0.3s ease-out;
}

input[type="checkbox"]#done + label::before{
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-size: 1.2em;
    color: #fff;
}

input[type="checkbox"]#done:checked + label{
    background-color: rgb(27, 128, 223);
}

.description{
    font-weight:900;
    margin: 0 1em ;
}

.taskDone{
    text-decoration: line-through;
}

.deleteTask{
    padding: .8em;
    background-color: rgb(173, 45, 2);
    color: white;
    font-size: .9em;
    border: 1px solid rgb(173, 45, 2);
    border-radius: .3em;
    transition: all 0.3s ease-out;
}

.deleteTask:hover,
.deleteTask:active{
    background-color: white;
    color: rgb(173, 45, 2);
    border: 1px solid rgb(173, 45, 2);
}

footer{
    letter-spacing: .05em;
    line-height: 1.5em;
}

footer a{
    color: white;
    font: bold 0.9em Roboto, Arial, sans-serif;
}

footer a:hover{
    font-size: 1em;
}

@media (max-width: 620px){

    form{
        display: flex;
        flex-direction: column;
        margin: 2vh 0;
    }

    #task{
        margin : 2vh 0;
    }

    ul{
        width: 90%;
    }

}

@media (max-width: 400px) {

    h1{
        font-size: 1.8em;
    }
    main{
        width: 85%;
    }
    
    ul{
        width: 100%;
    }
    
}